<div class="container mt-5 mb-5">
  <h1>Resumen de crecimiento de ganancias:</h1>
  <iframe
    title="OralDent-Resumen"
    width="1140"
    height="541.25"
    src="https://app.powerbi.com/reportEmbed?reportId=4d781bed-9fac-47c6-b6ef-0f0fdfd4dcc0&autoAuth=true&ctid=4017af08-a2e1-4daa-9180-5b3bc8ee84fa&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLWVhc3QyLWMtcHJpbWFyeS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D"
    frameborder="0"
    allowFullScreen="true"
  ></iframe>
  <h1>Mapa de sucursales:</h1>
  <div class="mapouter text-center">
    <div class="gmap_canvas">
      <iframe
        width="700"
        height="500"
        id="gmap_canvas"
        src="https://maps.google.com/maps?q=dentista&t=k&z=13&ie=UTF8&iwloc=&output=embed"
        frameborder="0"
        scrolling="no"
        marginheight="0"
        marginwidth="0"
      ></iframe
      ><a href="https://www.whatismyip-address.com"></a><br /><style>
        .mapouter {
          position: relative;
          text-align: right;
          height: 500px;
          width: 700px;
        }</style
      ><a href="https://www.embedgooglemap.net">google maps on my website</a
      ><style>
        .gmap_canvas {
          overflow: hidden;
          background: none !important;
          height: 500px;
          width: 700px;
        }
      </style>
    </div>
  </div>
</div>
